/*

Adovys Template



*/

body
	{
		background: #101010;
    color: #808080;
		font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	}

@media (min-width: 768px) {
  .container {
    width: 770px;
  }
  .navbar-right{
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

/* heading section */
h1,h2,h3,h4 {
  color: #fff;
  font-weight: bold;
}

h1,h2 {
  font-size: 30px;
}

/* images retina */
img {
  max-width: 100%;
  height: auto;
}

/* button section */
.btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.4s ease-in;
}
.btn:hover {
  background: #ffffff;
  border-color: transparent;
}

.email {
	margin-top: 10px;
	padding: 8px 12px;
}

/* navigation */
.bg-dark{
  background: #202020;
}
.navbar-dark {
    background: #202020;
    border: none;
    border-left: 6px solid #f6dc00;
    padding-right: 5px;
    margin: 0 !important;
    position: relative;
    /* top: 20px; */
  }
.navbar-dark .navbar-brand {
    font-size: 40px;
    line-height: 40px;
    /* padding-top: 4px; */
   }
.navbar-dark .navbar-nav li a {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  transition: all 0.4s ease-in;
 }
 .dropdown-item{
   width: 100%;
   padding-left: 10px;
   transition: all 0.4s ease-in;
 }
 .dropdown-item:hover{
   background-color: #101010;
   color: #ffa500 !important;
 }
a.dropdown-item:hover{
  color: #ffa500;
 }
 .dropdown-menu{
   background-color: #202020;
   min-width: 200px;
   margin-top: 14px;
 }
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
  color: #ffa500 !important;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  	color: #ffa500 !important;
  	background-color: transparent;
}
.navbar-dark .navbar-toggle {
  	/* background: #f6dc00; */
  	border-radius: 0px;
   	border: 1px solid #f6dc00;
   	margin-top: 9px;
     margin-bottom: 9px;
     margin-right: 0;
}
.navbar-brand{
  max-width: 160px;
  padding-top: 4px;
}
@media screen and (min-width: 768px){
  .navbar-brand{
    max-width: 212px;
  }
}
/* .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
    border-color: transparent;
} */
.navbar-toggler{
  border-color: #f6dc00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}

.active {
	background: #101010;
}
/* Hero section */
#home .hero-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  background-color: #b09f59;
  min-height: 250px;
  color: #ffffff;
}
.hero-right-inner{
    padding-top:30px;
  margin: auto ;
}
.hero-right-inner-image{
  padding-top: 3px;
  padding-bottom: 30px;
}

#home .hero-left{
  background: url('../images/transylvania_ltd_home_page_hero_left_1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
 min-height: 300px;
  padding-top: 180px;
  
}
#home h1 {
  line-height: 20px;
  font-size: 25px;
}
@media screen and (min-width:568px){
  #home h1 {
    line-height: 30px;
  font-size: 35px;
  }
  #home .hero-right{
    min-height: 470px;
  }
  .hero-right-inner-image{
    padding-top: 30px;
  }
}
@media screen and (min-width:768px){
  #home .hero-left{
    background-size: cover;
    background-position: center;
    min-height: 470px;
  }
  .hero-right-inner-image{
    padding-bottom: 100px;
  }
}
@media screen and (min-width:1010px){
  #home .hero-left{
    min-height: 600px;
    background-size: cover;
    background-position: center;
  }
  #home .hero-right{
    min-height: 600px;
  }
}

/* divider section */
.divider {
  color: #fff;
  text-align: center;
  font-size: 0.81rem;
  line-height: 1.3;
  margin-top:20px;
}


.divider h2 {
  padding-bottom: 4px;
}
.divider .divider-wrapper {
  padding: 40px 20px 40px 20px;
  position: relative;
  /*bottom: 0px;*/
  transition: all 0.4s ease-in;
}
.divider .divider-wrapper:hover {
  /*bottom: 20px;*/
  cursor: pointer;
}
@media screen and (min-width:560px){
    .divider{
        margin-top:0;
    }
    .divider .divider-wrapper{
        bottom:40px;
    }
    .divider .divider-wrapper:hover{
        bottom:60px;
    }
}
.divider .divider-one {
  background: #c14000;
}
.divider .divider-two {
  background: #009988;
}
.divider .divider-three {
  background: #ffa500;
}
.fa-icon{
  padding: 20px;
  border: 0.3rem solid #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: inline-block;
}
.fa-w-16{
  width: 4rem !important;
  height: 4rem !important;
}

/* about section */
#about-header {
  background: url('../images/about-header.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#about {
  padding-top: 60px;
}
#about .container {
  background: #191919;
}
#about .col-md-6 {
  padding: 0;
  margin: 0;
}
#about .about-des {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
#about .about_img{
  padding-top: 20px;
  padding-bottom: 20px;
}
#about .btn {
  margin-top: 30px;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 80px;
}
#team h2 {
  padding-bottom: 30px;
  text-align: center;
}
#team h3 {
  padding-bottom: 10px;
}
#team .team-wrapper {
  border: 2px solid #303030;
  padding: 20px;
}
#team h4 {
  color: #d54ab6;
}
#team img {
  opacity: 0.8;
}
#team hr {
  border-color: #303030;
  margin-top: 80px;
  margin-bottom: 80px;
}
#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}
#team .progress {
  border-radius: 0px;
  height: 4px;
}

/* portfolio section */
#portfolio-header {
  background: url('../images/portfolio-header.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  }
#portfolio h2 {
  padding-bottom: 20px;
}
#portfolio .col-md-4,
#portfolio .col-md-3 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
#portfolio img:hover {
  opacity: 1;
}
#portfolio .btn {
  margin-top: 30px;
}

/* contact section */
#contact-header {
  background: url('../images/contact-header.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
#contact h2 {
  text-align: center;
  padding-bottom: 30px;
}
#contact .form-control {
  background: #202020;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  transition: all 0.4s ease-in;
  color: #fff;
}
#contact .form-control:focus {
  background: #404040;
}
#contact input {
  height: 53px;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
#map-canvas
  {
    border: none;
    width: 100%;
    height: 300px;
  }

/* footer section */
footer {
  background: #1c1c1c;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .fa {
	font-size: 18px;
	margin-right: 10px;
	padding: 5px;
}
footer h3 {
  padding-bottom: 10px;
}
footer .newsletter p {
  padding-bottom: 10px;
}
footer .form-control {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  padding-bottom: 10px;
}

footer .form-control:focus,
footer .form-control:hover {
	color: #fff;
  	background: #806040;
  	border-color: transparent;
}
footer .input-group-addon {
  background: #fff;
}
footer a, footer a:visited {
  font-size: 14px;
  color: #999;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* copyright section */
.copyright {
	margin: 10px 0px;
}
.copyright p {
  padding-top: 20px;
}
.social-icons {
  padding: 0px;
  margin: 0px;
}
.social-icons li {
  display: inline-block;
  list-style: none;
  background: #303030;
  margin: 10px 0px 0px 0px;
}
.social-icons li a {
  color: #909090;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
  transition: all 0.4s ease-in;
  
}
.social-icons li a:hover {
  background: #d54ab6;
  color: #fff;
}

/* media 960 */
@media ( max-width: 980px ) {
  .divider .divider-wrapper {
    margin-bottom: 20px;
  }
  #about .about-des {
    padding-bottom: 40px;
  }
  #team .team-wrapper {
    margin-bottom: 40px;
  }
  #contact h3 {
    padding-top: 20px;
  }
  #contact .btn {
    margin-bottom: 20px;
  }
  footer h3 {
    padding-top: 30px;
  }
}